body {
    color: #444;
    font-family: 'Roboto' !important;
    background-color: #191919; 
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 12s linear;
    height: 100px;
}

.App-header {
    /*background-color: #222;*/
    background-image: url('https://static.tildacdn.com/tild6664-3832-4064-b038-376232653534/Background.jpg');
    background-size: 100% 100%;
    height: 100vh;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.description {
    height: 70vh;
    background-color: #ddd;
}

.main {
    height: 90vh;
    background-color: #f7f7f7;
}

.head-text {
    font-size: 150%;
    margin: 150px auto;
    width: 50%;
}
.head-text h1 {
    font-size: 2em;
}

.form-container {

    /*background-color: #777;*/
    /*background-image: url('./background-for-form.jpg');*/
    padding: 50px 100px;
    text-align: left;
    background-image: url('./new-background.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 600px;
}

footer {
    text-align: left;
    padding: 50px 100px;
    color: #999;
}

#check-button {
    padding-top: 60px;
    text-align: left;
}
#check-button p {
    font-size: 150%;
    margin: 30px;
    margin-bottom: 10px;
}
#check-button a {
    margin-left: 30px;
    margin-bottom: 20px;
}

.form-request {
    width: 40%;
}

.response-for-add {
    background-color: #fff;
    padding-bottom: 4%;
}

.response-data {
    margin-top: 150px;
}
.response-for-check {
    font-size: 150%;
    padding: 30px 70px;
    text-align: left;
    color: wheat;
    background-image: url('./new-background.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 600px;
}
.response-for-check table  {
    margin-top: 25px;
    width: 50%;
    text-align: left;
}
.response-for-check td {
    padding-right: 20px;
    padding-top: 10px;
}

.response-for-check tr:first-child {
    text-transform: uppercase;
    font-size: .9em;
}
.response-for-check th {
    
    padding-right: 20px;
    padding-top: 10px;
}

.check-table__head {
    text-align: center;
}

.response-for-check a {
    color: #ddd;
    text-decoration: none !important;
}

.response {
    background-color: #ddd;
    width: 100%;
    height: 100%;
}
.jumbotron {
    color: wheat;
    text-align: left;
    padding: 100px 20% 100px 100px;
}
.response-for-new {
    background-color: #222;
    padding-bottom: 4%;
    margin: 5% 25%;
    border-radius: 10px;
    font-size: 130%;
}

.response-for-add__window {
    font-size: 130%;
    padding: 30px 70px;
    background-color: #222;
    text-align: center;
    margin: 5% 25%;
    border-radius: 10px;
}

.td-img {
    text-align: center;
}

.show-voucher{
    background-color: #fff;
    padding-bottom: 4%;
    padding-top: 5%
}

.show-voucher__container {
    font-size: 130%;
    padding: 30px 70px;
    background-color: #ddd;
    text-align: center;
    margin: 0 25%;
    border-radius: 10px;
}

.custom-btn {
    background: linear-gradient(to right, #db524c, #fcb03e);
    border: none;

}

a {
    color: #444;
}

a:hover {
    color: #999;
}

label {
    font-weight: normal; 
    color: wheat;
    font-size: 1.5em;
}

#check-form {
    margin-top: 200px;
}

#serialNumber__text {
    text-transform: capitalize;
}

.back-link {
    position: fixed;
    width: 520px;
    height: 700px;
    right: 30px;
    top: 30px;
}