body {
    color: #444;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 12s linear;
    height: 100px;
}

.App-header {
    /*background-color: #222;*/
    background-image: url('https://static.tildacdn.com/tild6664-3832-4064-b038-376232653534/Background.jpg');
    background-size: 100% 100%;
    height: 100vh;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.description {
    height: 70vh;
    background-color: #ddd;
}

.main {
    height: 100vh;
    background-color: #fff;
}

.head-text {
    margin: 150px;
}

.form-container {
    /*background-color: #777;*/
    /*background-image: url('./background-for-form.jpg');*/
    padding: 50px 100px;
    text-align: left;
}

footer {
    text-align: left;
    padding: 50px 100px;
    color: #999;
}

#check-button {
    padding: 50px;
}

.form-request {
    width: 40%;
}

.response-for-add {
    background-color: #fff;
    padding-bottom: 4%;
}

.response-for-check__window {
    font-size: 130%;
    padding: 30px 70px;
    background-color: #ddd;
    text-align: center;
    margin: 5% 25%;
    border-radius: 10px;
}
.response-for-check table  {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}
.response-for-check th, td {
    padding-right: 20px;
    padding-top: 10px;
}

.response-for-new {
    background-color: #fff;
    padding-bottom: 4%;
}

.response-for-add__window {
    font-size: 130%;
    padding: 30px 70px;
    background-color: #ddd;
    text-align: center;
    margin: 5% 25%;
    border-radius: 10px;
}